<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:9595/Screenshot" binding="basicHttpBinding" bindingConfiguration="streamedBinding" contract="DetectifyServiceLibrary.IScreenshotService" name="DetectifyClientConfig" kind="" endpointConfiguration="" />
        </client>
      <bindings>
        <basicHttpBinding>
          <binding name="streamedBinding" maxReceivedMessageSize="2147483647" maxBufferSize="65536" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transferMode="Streamed" />
        </basicHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>